.banner{
	width:100%;
	overflow:hidden;
	position: relative;
}

.banner>.banner-wrapper{
	position: relative;
	left: 0;
	overflow: hidden;
	/* transition:left .5s; */
}

.banner .banner-item{
	float: left;
}
